.main-soccer-banner {
  min-height: 10.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://www.premierleague.com/resources/rebrand/v7.152.2/i/elements/backgrounds/primary-bg.svg");
  background-size: cover;
  padding: 0 0.8rem;
  overflow: hidden;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 0;
  font-size: 0;
}
.soccer-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.6rem;
  max-width: 137.6rem;
  width: 100%;
  margin: auto;
}
.soccer-banner-title {
  position: relative;
  z-index: 10;
  font-family: PremierSans-Heavy, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 3.1rem;
  line-height: 7.3rem;
  color: #fff;
  margin-left: 5rem;
}

.main-soccer-banner:after {
  content: "";
  position: absolute;
  width: 1800px;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("https://www.premierleague.com/resources/rebrand/v7.152.2/i/elements/backgrounds/primary-graphic.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

/* Teams */

.col-12 {
  padding: 0;
}

ol li,
ul li {
  list-style-type: none;
}

/* Standings */
.league-table__comp-logo {
  max-height: 3rem;
}

.match-fixture__teams {
  display: flex;
  align-items: center;
  width: 45.9rem;
  margin-left: 3.2rem;
  min-height: 2.5rem;
  position: relative;
  font-size: 0;
}
.match-fixture__team:first-of-type {
  text-align: right;
  padding-left: 0;
  padding-right: 7.8rem;
}
.match-fixture__team {
  width: 50%;
  padding-left: 7.8rem;
  position: relative;
}
.match-fixture__team-name {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  color: #37003c;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.04rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.match-fixture__team:first-of-type .badge {
  right: 3.7rem;
  top: -0.4rem;
}
.badge-image-container .badge-image--32 {
  width: 3.2rem;
  height: 3.2rem;
}

.match-fixture__abbr {
  display: none;
}

.match-fixture__wrapper {
  display: block;
  color: #37003c;
  text-decoration: none;
  position: relative;
}
